body {
	margin: 0;
	background: #ffffff fixed center center;
}

@media only screen and (max-width: 460px) {
    #parallax { 
    	margin: 0;
    	background: url("https://cloud.githubusercontent.com/assets/13892645/10718913/c4d68aa6-7b53-11e5-84d4-76caf6f21555.jpg") no-repeat center center;
	background-size: 120% 100%;
	height: 135%;
	width: 350%;
	position: fixed;
    }
}

#parallax {
	margin: 0;
	background: url("https://cloud.githubusercontent.com/assets/13892645/10718913/c4d68aa6-7b53-11e5-84d4-76caf6f21555.jpg") no-repeat center center;
	background-size: 100% 100%;
	height: 150%;
	width: 170%;
	position: fixed;
}

#content {
	top: 0;
	position: absolute;
	width: 100%;
}


#header {
	top: 0;
	width: 100%;
	background-color: black;
	color: white;
	font-family: Verdana, sans-serif;
	text-align: center;
	padding-top: 0;
}

#header a:hover {
	color: #FFFFFF;
	background-color: black;
	
}

#header h1 {
	padding-top: 10px;
}

#header img {
	border-radius: 50%;
        top: 50%;
        left: 50%;
}

#header a {
	text-decoration: none;
	color: white;
}

#header ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

#nav ul li {
	padding-right: 10px;
	display: inline;
}

#container {
	width: 80%;
	min-height: 1000px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	min-height: 1400px;
}

.section {
	background-color: rgba(255, 255, 255, .75);
	padding: 10px;
	margin-top: 30px;
	border-radius: 15px;
}

/* to prevent top nav-bar from covering top part of page-jump sections 
.anchor {
	display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -100px;
    left: 0;
    visibility: hidden;
} */

.section h3 {
	font-family: serif;
}

.section p, .section ul {
	font-family: sans-serif;
}

.section a {
	text-decoration: none;
	color: black;
	font-family: Verdana, sans-serif;
}

a:hover {
	background-color: black;
	color: #FFFFFF;
}

#footer {
	background-color: black;
	text-align: right;
	color: white;
	padding: 0;
	clear: both;
	width: 100%;
	margin: 0;
}

#footer p {
	padding-right: 10px;
}
