body {
	margin: 0px;
	background: url("https://cloud.githubusercontent.com/assets/13892645/10650255/5fb113de-7816-11e5-9df4-906b83b8e82a.PNG") no-repeat center center fixed;
	background-size: cover;
}

@media only screen and (max-width: 460px) {
    body { 
    	margin: 0px;
        background: url("https://cloud.githubusercontent.com/assets/13892645/10650255/5fb113de-7816-11e5-9df4-906b83b8e82a.PNG") no-repeat center center fixed;
        background-size: cover;
    }
}

#content {
	padding-top: 5em;
}

#content h1 {
	margin: auto;
	text-align: center;
	font-family: Verdana, sans-serif;
	color: #000000;
}

#content ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

#content ul li {
	display: inline-block;
	padding-right: 10px;
}

#content ul li a {
	color: #000000;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}

#content img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
}
