body {
	margin: 0px;
	background: url("https://cloud.githubusercontent.com/assets/13892645/10652249/07d2d0c8-7823-11e5-8699-6f591dd80238.JPG") no-repeat center center fixed;
	background-size: 100% 100%;
}

@media only screen and (max-width: 460px) {
    body { 
    	margin: 0px;
        background: url("https://cloud.githubusercontent.com/assets/13892645/10652249/07d2d0c8-7823-11e5-8699-6f591dd80238.JPG") no-repeat center center fixed;
        background-size: 250% 100%;
    }
}

h1 {
	top: 50%;
	left: 50%;
	text-align: center;
	font-family: Verdana, sans-serif;
	color: #FFFFFF;
}

ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

ul li {
	display: inline-block;
	padding-right: 10px;
}

ul li a {
	color: white;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}

img {
	width: 40px;
	height: 40px;
}
