body {
	margin: 0px;
	background-image: url("https://cloud.githubusercontent.com/assets/13892645/10652249/07d2d0c8-7823-11e5-8699-6f591dd80238.JPG") no-repeat;
	height: 100%;
	width: 100%;
}

#content {
	position: absolute;
	width: 80%;
	height: 100%;
}

#content h1 {
	top: 50%;
	left: 50%;
	text-align: center;
}

.link {
	padding: 10px;
	display: inline;
	list-style-type: none;
	text-decoration: none;
}

img {
	width: 30px;
	height: 30px;
}
