body {
	background-image: url("https://cloud.githubusercontent.com/assets/13892645/9416300/d4f71352-4812-11e5-999e-fab29eafa774.PNG");
	background-size: 100%;
	padding-top: 100px;
}

#header {
	width: 100%;
	min-height: 100px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: black;
	color: white;
	font-family: Verdana, sans-serif;
	padding-bottom: 10px;
}

#header h1 {
	float: left;
	padding-left: 10px;
}

#header img {
	border-radius: 50%;margin: 0px;
    	position: absolute;
	top: 50%;
    	left: 50%;
    	margin-right: -50%;
    	transform: translate(-50%, -50%)
}

#header a {
	text-decoration: none;
	color: white;
}

#header a:hover {
	color: #00ffff;
}

#header nav {
	float: right;
	padding-top: 30px;  /*to make in-line with title name*/
	margin-right: 10px;
	clear: both;
}

#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;	
	text-decoration: none;
	clear: both;
}

nav li {
	padding: 10px;
	display: inline;
}

#container {
	width: 800px;
	min-height: 1400px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

.section {
	position: relative;
	background-color: white;
	padding: 10px;
	margin: 10px;
	clear: both;
}

/* when using fixed header this prevents top nav-bar from covering top part of page-jump sections 
.anchor {
	display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -100px;
    left: 0;
    visibility: hidden;
} */

.section h3 {
	font-family: serif;
}

.section p, .section ul {
	font-family: sans-serif;
}

.section a {
	text-decoration: none;
	color: black;
	font-family: serif;
}

.section a:hover {
	background-color: black;
	color: #00ffff;
}

#footer {
	background-color: black;
	text-align: right;
	color: white;
	padding: 0;
	clear: both;
	width: 100%;
	margin: 0;
}

#footer p {
	padding-right: 10px;
}
