body {
	margin: 0px;
	background-color: #FFFFFF;
	height: 100%;
	background-size: auto 100%;
}

background {
	background-image: url("https://cloud.githubusercontent.com/assets/13892645/10652249/07d2d0c8-7823-11e5-8699-6f591dd80238.JPG");
	height: 100%;
}

h1 {
	top: 50%;
	left: 50%;
	vertical-align: middle;
}

.link {
	padding: 10px;
	display: inline;
	list-style-type: none;
	text-decoration: none;
}

img {
	width: 30px;
	height: 30px;
}
